{% extends 'home.html.twig' %}

{%  block main %}

    <h1 class="container-fluid d-flex justify-content-center py-5">Tout ce que vous voulez savoir, et même plus encore !</h1>

<div class="container-fluid">

    <div class="row py-4">
        <div class="col-4 offset-2">
            <h2>Nos petites biographies</h2>
        </div>
        <div class="col-4">
            <h2>lorem50</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa debitis eligendi est ex incidunt labore, libero neque odio odit officiis optio qui, ratione saepe, tenetur ullam vel voluptatum! Alias amet asperiores dignissimos dolore eum eveniet hic ipsum maiores modi nesciunt non nostrum numquam, odio officia praesentium quis velit veniam veritatis?</p>
        </div>
    </div>

    <div class="row py-4">
        <div class="col-4 offset-2">
            <h2>lorem50</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa debitis eligendi est ex incidunt labore, libero neque odio odit officiis optio qui, ratione saepe, tenetur ullam vel voluptatum! Alias amet asperiores dignissimos dolore eum eveniet hic ipsum maiores modi nesciunt non nostrum numquam, odio officia praesentium quis velit veniam veritatis?</p>
        </div>
        <div class="col-4">
            <h2>Nos petites biographies</h2>
        </div>
    </div>

    <div class="row py-4">
        <div class="col-4 offset-2">
            <h2>Nos petites biographies</h2>
        </div>
        <div class="col-4">
            <h2>lorem50</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa debitis eligendi est ex incidunt labore, libero neque odio odit officiis optio qui, ratione saepe, tenetur ullam vel voluptatum! Alias amet asperiores dignissimos dolore eum eveniet hic ipsum maiores modi nesciunt non nostrum numquam, odio officia praesentium quis velit veniam veritatis?</p>
        </div>
    </div>

</div>


{%  endblock %}